.logo-container{
    display: flex;
    justify-content: space-around;
    padding: 8px;
    
}

.sidebar-logo{
    width: 40px;
    height: 40px;
}

.sidebar {
    width: 230px;
    padding: 5px;
    background-color: bisque;
    height: 100%;
}

.company-name{
    font-size: 14pt;
    font-weight: 500;
    align-self: center;
}